button.neumorphic {
    font-weight: bold;
    margin-top: 37px;
    container-type: inline-size;
    aspect-ratio: 1/1;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
    color: hsl(0 0% 10%);
    background-color: #ffffff;
    display: grid;
    place-content: center;
    gap: 1rem;
    --shadow:
        -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
        .5rem .5rem 1rem hsl(0 0% 50% / .5);
    box-shadow: var(--shadow);
    outline: none;
    transition: all 0.1s;
    overflow: hidden; /* Ensure the progress bar stays within the button */
}

button.neumorphic:hover,
button.neumorphic:focus-visible {
    color: #af000f;
}

button.neumorphic:active,
button.neumorphic.active {
    box-shadow:
        var(--shadow),
        inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
        inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
    color: hsl(10 80% 50%);
}

button.neumorphic>span {
    font-size: var(--normal-font-size);
}

.buttons {
    display: grid;
    width: min(75rem, 62%);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
    gap: 1rem;
}

.buttons .neumorphic img {
    margin-top: 20px;  
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .buttons {
        display: grid;
        width: min(75rem, 80%);
        margin-inline: auto;
        grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
        gap: 2rem;
    }
}
    
/* For medium devices */
@media screen and (max-width: 576px) {
    .buttons {
        width: min(75rem, 90%);
        grid-template-columns: repeat(2, minmax(min(8rem, 100%), 1fr));
        gap: 1rem;
        margin-top: 20px;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .buttons {
        width: calc(100% - 20px);
        grid-template-columns: repeat(2, minmax(min(8rem, calc(50% - 0.125rem)), 1fr));
        gap: 1rem;
        margin-top: 20px;
    }
}
  
/* Skill bar */
button.neumorphic:hover,
button.neumorphic:focus-visible {
    color: #af000f;
}

button.neumorphic:active,
button.neumorphic.active {
    box-shadow:
        var(--shadow),
        inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
        inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
    color: hsl(10 80% 50%);
}

button.neumorphic > span {
    font-size: var(--normal-font-size);
}

button.neumorphic .icon-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.neumorphic img.skill-icon {
    object-fit: cover;
    transition: opacity 0.3s;
}

button.neumorphic:hover img.skill-icon {
    opacity: 0;
}

button.neumorphic .progress-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

button.neumorphic:hover .progress-container {
    opacity: 1;
}

/* Skills progress bar*/
.progress-bar {
    position: relative;
    margin-top: 25px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden; 
}

.progress-circle {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: conic-gradient(
        #4CAF50 calc(var(--percentage) * 1%),
        #e0e0e0 calc(var(--percentage) * 1%)
    );
    transition: background 0.6s ease;
    animation: grow 1s forwards; 
}

.progress-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.progress-text {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4CAF50;
    z-index: 1;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.progress-bar:hover .progress-text {
    opacity: 1;
    transform: scale(1);
}

.progress-bar:hover .progress-circle {
    animation: rotate 1.5s ease-in-out forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Center the entire Skills section */
.skills.section {
    text-align: center;
    padding-top: 20px;
    margin-top: 55px; /* Added margin-top for distance above the section title */
}

/* Responsive adjustments for the Skills section */
@media screen and (max-width: 992px) {
    .skills.section {
        margin-top: 40px; /* Adjust distance for large devices */
    }
}

@media screen and (max-width: 576px) {
    .skills.section {
        margin-top: 10px; /* Adjust distance for medium devices */
    }
}

@media screen and (max-width: 350px) {
    .skills.section {
        margin-top: 0px; /* Adjust distance for small devices */
    }
}

/* Center and style category buttons */
.category-buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: center;
    gap: 0.5rem; /* Adjust spacing between buttons */
    margin-bottom: 30px; /* Add space below the buttons */
    margin-top: 75px;
}

.category-button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid var(--title-color); /* Border color */
    border-radius: 8px;
    background-color: #ffffff;
    color: var(--title-color); /* Text color */
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.category-button:hover {
    background-color: var(--title-color); /* Background color on hover */
    color: #ffffff; /* Text color on hover */
}

.category-button.active {
    background-color: var(--title-color); /* Active button background color */
    color: #ffffff; /* Active button text color */
    border: 2px solid var(--title-color); /* Keep border color for active state */
}

/* Responsive adjustments for category buttons */
@media screen and (max-width: 768px) {
    .category-buttons {
        gap: 0.5rem; /* Reduce spacing between buttons */
    }

    .category-button {
        padding: 8px 16px; /* Adjust padding for smaller screens */
        font-size: 0.9rem; /* Slightly smaller font size */
    }
}

@media screen and (max-width: 480px) {
    .category-button {
        padding: 6px 12px; /* Further reduce padding */
        font-size: 0.8rem; /* Reduce font size for smaller screens */
    }

    .category-buttons {
        margin-top: 50px;
    }
}

@media screen and (max-width: 350px) {
    .category-buttons {
        margin-top: 50px;
    }
}

/* Center and size buttons uniformly */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px; /* Adjust spacing between buttons */
    width: 65%;
    margin-bottom: 40px; /* Add space below the buttons section */
}

button.neumorphic {
    font-weight: bold;
    margin-top: 20px;
    aspect-ratio: 1/1;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
    color: hsl(0 0% 10%);
    background-color: #ffffff;
    display: grid;
    place-content: center;
    gap: 1rem;
    --shadow: -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
               .5rem .5rem 1rem hsl(0 0% 50% / .5);
    box-shadow: var(--shadow);
    outline: none;
    transition: all 0.1s;
    overflow: hidden;
    width: 150px; /* Set consistent width */
    height: 150px; /* Set consistent height */
}

/* Center icon and text within the button */
button.neumorphic .icon-container,
button.neumorphic img.skill-icon,
button.neumorphic .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Soft Skills Section */
.soft-skills-container {
    margin: 0 auto;
    width: 62%; /* Adjusted width for responsiveness */
    max-width: 1200px; /* Added max-width for larger screens */
    padding-top: 50px;
    overflow: hidden; /* Ensures no overflow issues */
}

.soft-skills-slider {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Adjust spacing between soft skills */
    animation: slide 15s linear infinite;
}

.soft-skill {
    flex: 0 0 auto;
    padding: 20px 30px;
    background-color: var(--title-color);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    white-space: nowrap;
}

/* Adjust slide speed for different devices */
@media screen and (max-width: 992px) {
    .soft-skills-slider {
        animation: slide 10s linear infinite; /* Slightly slower slide for larger devices */
    }

    .buttons {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .soft-skills-container {
        padding-top: 40px;
        width: 95%; /* Increased width for smaller devices */
    }

    .soft-skills-slider {
        animation: slide 8s linear infinite; /* Adjusted slide speed */
    }

    .buttons {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .soft-skills-container {
        padding-top: 30px;
        width: 90%; /* Full width for very small screens */
    }

    .soft-skills-slider {
        animation: slide 6s linear infinite; /* Faster slide for very small devices */
    }

    .buttons {
        width: 100%;
    }
}

/* Keyframes for sliding animation */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

