.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    margin-top: 65px;
}

.about__image {
    width: 350px;
    margin-bottom: 80px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__info {
    grid-template-columns: repeat(3, 170px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    margin-right: 12px;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__description {
    text-align: justify;
    margin-bottom: var(--mb-2-5);
    margin-right: 12px;
}

.button {
    padding: 20px; 
    margin-right: 20px;
  }
  

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        margin-top: 0px;
    }

    .about__image {
        width: 220px;
        margin-bottom: 0;
    }

    .section__subtitle {
        margin-bottom: 0;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
        margin-right: 0px;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
        margin-right: 0;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
        margin-right: 0;
    }

    .about__image {
        margin-bottom: 0;
    }

    .about__box {
        margin-right: 0px;
    }

    .section__subtitle {
        margin-bottom: 0;
    }

    .button {
        width: 90%;
        margin-right: 8px;
        margin-left: 17px;
        padding: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__box {
        margin-right: 0px;
    }

    .about__description {
        margin-right: 0;
    }
  }